{% extends 'g8_app/base.html' %}

{% load static %}

{% block title %}
    <title>Unit Coordinator Dashboard</title>
{% endblock title %}

{% block cssFile %}
    <link href="{% static 'projList.css' %}" rel="stylesheet">
{% endblock cssFile %}

{% block webpage %}
    <h1>Dashboard</h1>

    <div class="card_container">
        <article class="card">
            <header>
                <h3 class="card_title">Pending Edit ({{ pending_list_count }})</h3>
            </header>
            <p class="ellipsis">
                Waiting for the unit coordinator to approve the project's information changes.
            </p>
            <a href="{% url 'pending_project_edit_list' %}" class="btn">Open</a>
        </article>

        <article class="card">
            <header>
                <h3 class="card_title">Approved Projects List ({{ approved_list_count }})</h3>
            </header>
            <p class="ellipsis">
                Projects which Supervisor and Students are working on.
            </p>
            <a href="{% url 'approved_list' %}" class="btn">Open</a>
        </article>

        <article class="card">
            <header>
                <h3 class="card_title">Request Delete Project List ({{ deleting_list_count }})</h3>
            </header>
            <p class="ellipsis">
                Waiting for the unit coordinator to approve the project deleting's request.
            </p>
            <a href="{% url 'pending_project_delete_requests' %}" class="btn">Open</a>
        </article>
    </div>
{% endblock webpage %}


